<div data-ng-controller="projectController">
	<h2>Edit Project</h2>
	<a href="#/">Return To List View</a>
	<br>
	<label>Title:</label><br>
	<input type="text"  data-ng-model="project.title">
	<br>
	<label>Author:</label><br>
	<input type="text" data-ng-model="project.author">
	<br>
	<label>Status:</label><br>
	<input type="text" data-ng-model="project.status">
	<br>
	<label>Launch:</label><br>
	<input type="text" data-ng-model="project.launch">
	<br>
	<a href="#/"  class="btn btn-primary">Commit</a>
	<br>
</div>
