<div data-ng-controller="projectData">

	<input type="text" placeholder="Search projects..." data-ng-model="search">

	<a href="#/addProject" class="btn btn-primary btn-sm" type="button">Add Project</a>
	
	<ol>
		<li data-ng-repeat="project in projects | filter:search">

			<a href="#/projectDetails/{{ project.title }}">{{ project.title }}</a> - {{ project.author }}
			
			<a href="#/editProject/{{ project.title }}">Edit</a>
			
			<a href="#/projectDetails/{{ project.title }}">Delete</a>
		</li>
	</ol>
</div>
